*{
    box-sizing: border-box;
}
.body {
    background-image: url(../img/background/TaranTado.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 20px;
}
nav {
    display: flex;
    font-family: 'Caladea', serif;
    font-size: medium;
    text-align: left;  
    width: 30px; 
    margin: 20px;
}
a.links {
    color: white;
    padding: 14px 16px 0px 16px;

}
form {
    text-align: end;
    margin-right: 20px;
}
h1 {
    font-family: 'Caladea', serif;
    font-size: 70px;
}
h2 {
    font-family: 'Caladea', serif;
    font-size: x-large;
}
.detalle {
    display: flex;
    margin-bottom: 70px;
    margin-top: 50px;
}
a.favoritos {
    color: white;
    background-image: url(../img/background/TaranTado.jpg);
    padding: 8px;
    font-family: 'Caladea', serif;
    font-size: medium;
    margin: 20px;
    border-radius: 20px;
}
p {
    font-family: 'Caladea', serif;
    font-size: medium;
    margin: 20px;
}
.video {
    order: -1
}
