*{
  box-sizing: border-box;
}
.body {
  background-image: url(../img/background/TaranTado.jpg);
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 20px;
  margin-bottom: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.logo {
  border-radius: 20px;
}
.form {
  order:2;
}
.navegacion {
  display: flex;
  font-family: 'Caladea', serif;  
  width: 30px; 
  margin-left: 20px;
}
.links {
  color: white;
  padding: 14px 16px 0px 16px;
  font-size: 20px;
}

h3 {
  font-family: 'Caladea', serif;
  font-size: 30px;
}
h2 {
  font-family: 'Caladea', serif;
  font-size: 40px;
}
h5 {
  font-family: 'Caladea', serif;
  text-decoration: underline;
}
.article1{
  display: flex;
  align-items: center;
}

.section1{
padding: 0 px 30px;
}
.detalle {
  display: flex;
  margin-bottom: 70px;
  margin-top: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}

a.favoritos {
  color: white;
  background:  #23074d; 
  padding: 18px;
  font-family: 'Caladea', serif;
  font-size: medium;
  margin: 20px;
  border-radius: 20px;
}
p {
  font-family: 'Caladea', serif;
  font-size: medium;
  padding-left: 5px;
  display: flex;
}
.video {
  order: -1
}
footer {
  background-color: #23074d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 80px;
  margin-top: 100px;
}
.integrantes {
  text-align: center;
  font-family: 'Caladea', serif;
  font-size:medium;
  padding: 30px;
}
.btn {
  background: #23074d; 
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}
.like{
  background: #981212; 
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}