*{
  box-sizing: border-box;
}
.body {
  background: linear-gradient(to left, #cc5333, #23074d);
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 20px;
  margin-bottom: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
img.logo {
  width: 100px;
  border-radius: 20px;
}
.form{
  width: 100%;
}
.formulario {
  width: 20%;
  order: 2;
}
.buscador {
  width: 70%;
  background-color: #23074d; 
  border-radius: 10px;
}
.buscar {
  width: 25%;
  color: white;
  background-color:#23074d; 
  border-radius: 10px;
}
.navegacion {
  display: flex;
  font-family: 'Caladea', serif;  
  text-align: center;
  width: 50%;
  justify-content: space-evenly;
}
.links {
  color: white;
  padding: 14px 16px 0px 16px;
  font-size: 20px;
}

a {
  text-decoration: none;
}
h2 {
  font-family: 'Caladea', serif;
  font-size: 40px;
  margin: 10px;
}
h3 {
  font-family: 'Caladea', serif;
  font-size: x-large;
  color: white;
  text-decoration: none;
  margin: 20px;
  text-align: left;
}
h4 {
  font-family: 'Caladea', serif;
  font-size: large;
  margin: 5px;
}

.article1{
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 5px;
  padding-right: 10px;
  height: 50px;
}
.article2{
  margin-bottom: 10px;
}
.title{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.section1{
  display: flex;
  flex-wrap: wrap;
}
.imagen{
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 0px;
}
.section2{
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 950px;
  margin-left: 20px;
  margin-top: 10px;
}
a.favoritos {
  color: white;
  background-color: #cc5333; 
  padding: 18px;
  font-family: 'Caladea', serif;
  font-size: medium;
  margin: 20px;
  border-radius: 20px;
}
p {
  font-family: 'Caladea', serif;
  font-size: medium;
  padding-left: 5px;
  display: flex;
}
.psinopsis {
  font-size: larger;
}
a.generos {
  color: white;
  font-family: 'Caladea', serif;
  font-size: medium;
  padding-left: 5px;
  display: inline;
  text-decoration: none;
}
footer {
  background-color: #23074d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 80px;
  margin-top: 100px;
}
.integrantes {
  text-align: center;
  font-family: 'Caladea', serif;
  font-size:medium;
  padding: 30px;
}
.btn {
  background: #cc5333; 
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  margin-top: 20px;
}
.reco{
  background: #cc5333; 
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
.buttonReviewsTv {
  background: #cc5333; 
  border: none;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 30px;
}
.imagenreco{
  height: 150px;
}
.recomendacion{
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.articlereco{
  margin-left: 30px;
  text-align: center;
}
.overview{
  display: flex;
  flex-wrap: wrap;
}
.navseries {
  background-image: url(../img/background/TaranTado.jpg) ;
  padding: 8px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
}
.vermás {
  color: white;
  font-family: 'Caladea', serif;
  font-size: small;
}
.providers{
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.imgprov{
  height: 50px;
  margin-left: 15px;
  border-radius: 15px;
}
.mastrillers{
  background: #cc5333; 
  border: none;
  color: white;
  padding: 9px 10px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  margin-top: 10px;
}
.sectionmasvideos{
  display: none;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
}
.videoextra{
  height: 300px;
  width: 560px;
  padding-top: 20px;
  padding-left: 20px;
}
.articlevideo{
  padding-left: 5px;
  align-items: center;
}
.videos {
  background: #cc5333; 
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
.video {
  padding: 5px;
  display: flex;
  justify-content: center;
}
@media(max-width:1024px){
  .header {
    width: 95%;
  }
  .busquedor {
    width: 62%;
  }
  .buscar {
    width: 32%;
  }
}
@media(max-width:760px){
  .header {
    width: 90%;
  }
  img.logo {
    width: 80px;
    height: 10%;
  }
  .formulario {
    order: 0;
    width: 70%;
  }
  .links {
    font-size: 15px;
  }
  .navegacion{
    margin-left: 20%;
  }
  h2{
    font-size: 150%;
  }
  h4{
    font-size: 114%;
  }
  img{
    height: 20%;
  }
  p{
    font-size: 93%;
  }
  a.favoritos{
    font-size: 100%;
  }
  .btn{
    font-size: 120%;
  }

}
@media (max-width: 420px){
  .links {
    font-size: 50%;
  }
  img.logo {
    width: 60px;
    border-radius: 5px;
  }
  h2 {
    font-size: 110%;
  }
  h3{
    font-size: 100%;
  }
  h4{
    font-size: 70%;
  }
  p{
    font-size: 62%;
  }
  .video1 {
    height: 100%;
  }
  a.favoritos {
    font-size: 66%;
    padding: 2%;
  }
  .btn {
    font-size: 66%;
    padding: 2%;
  }
  .integrantes {
    font-size: 68%;
   }
  .navegacion {
    margin-left: 8%;
  }
} 