*{
    box-sizing: border-box;
}
nav {
    font-family: 'Caladea', serif;
    font-size: small;
    padding: 14px 16px;
}
a.links {
    color: white;
    padding: 14px 16px 0px 16px;

}
.body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white
}
form {
    text-align: end;
    margin-right: 20px;
}
h1 {
    font-family: 'Caladea', serif;
    font-size: 70px;
}
h2 {
    font-family: 'Caladea', serif;
    font-size: x-large;

}
a.favoritos {
    color: black;
background-color: white;
padding: 8px;
font-family: 'Caladea', serif;
font-size: small;
}

section.detalle{

    background-image: url(../img/detalle/peaky.jpg);
    background-size:auto;
    background-repeat: no-repeat;

}

p{

    font-family: 'Caladea', serif;
    font-size: small;
}

/**img {
    height: 300px;
    width: 200px;
    margin: 10px;
}