*{
  box-sizing: border-box;
}
.body {
  background: linear-gradient(to left, #cc5333, #23074d);
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin: 20px;
  margin-bottom: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
img.logo {
  width: 100px;
  border-radius: 20px;
}
.formulario {
  width: 20%;
  order: 2;
}
.busquedor {
  width: 70%;
  border-color: white;
  background:linear-gradient(to left, #cc5333, #23074d); 
}
.buscar {
  width: 20%;
  color: white;
  border-color: white;
  background:linear-gradient(to left, #cc5333, #23074d); 
}
.navegacion {
  display: flex;
  font-family: 'Caladea', serif;  
  text-align: center;
}
.links {
  color: white;
  padding: 14px 16px 0px 16px;
  font-size: 20px;
}
h2 {
  font-family: 'Caladea', serif;
font-size: 40px;
}
h3 {
  font-family: 'Caladea', serif;
font-size: 22px;
}
h4 {
  font-family: 'Caladea', serif;
  font-size: large;
}

.article1{
  display: flex;
  align-items: center;
  padding: 5px;
}
.article2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #23074d;
  border-radius: 5px;
}
.section1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


a.favoritos {
  color: white;
  background-color: #cc5333; 
  padding: 18px;
  font-family: 'Caladea', serif;
  font-size: medium;
  margin: 20px;
  border-radius: 20px;
}
p {
  font-family: 'Caladea', serif;
  font-size: medium;
  padding-left: 5px;
  display: flex;
}
.video {
  padding: 5px;
  margin-left: 440px;
  margin-top: 27px;
}
footer {
  background-color: #23074d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 80px;
  margin-top: 100px;
}
.integrantes {
  text-align: center;
  font-family: 'Caladea', serif;
  font-size:medium;
  padding: 30px;
}
.btn {
  background: #cc5333; 
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
}

@media(max-width:1024px){
  .header {
    width: 95%;
  }
  .busquedor {
    width: 62%;
  }
  .buscar {
    width: 32%;
  }
}
@media(max-width:760px){
  .header {
    width: 90%;
  }
  img.logo {
    width: 80px;
    height: 10%;
  }
  .formulario {
    order: 0;
    width: 70%;
  }
  .links {
    font-size: 15px;
  }
  .navegacion{
    margin-left: 20%;
  }
  h2{
    font-size: 150%;
  }
  h4{
    font-size: 114%;
  }
  img{
    height: 20%;
  }
  p{
    font-size: 93%;
  }
  a.favoritos{
    font-size: 100%;
  }
  .btn{
    font-size: 120%;
  }

}
@media (max-width: 420px){
  .links {
    font-size: 50%;
  }
  img.logo {
    width: 60px;
    border-radius: 5px;
  }
  h2 {
    font-size: 110%;
  }
  h3{
    font-size: 100%;
  }
  h4{
    font-size: 70%;
  }
  p{
    font-size: 62%;
  }
  .video1 {
    height: 100%;
  }
  a.favoritos {
    font-size: 66%;
    padding: 2%;
  }
  .btn {
    font-size: 66%;
    padding: 2%;
  }
  .integrantes {
    font-size: 68%;
   }
  .navegacion {
    margin-left: 8%;
  }
} 