body {
    background-image: url(../img/background/TaranTado.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white
}
.header form {
    text-align: end;
    margin-right: 20px;
}
h1 {
    font-family: 'Caladea', serif;
    font-size: 70px;
}
footer {
    background-color: #23074d;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 80px;
    margin-top: 350px;
  }
.integrantes {
    text-align: center;
    font-family: 'Caladea', serif;
    font-size:medium;
    padding: 30px;
}