*{
    box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #cc5333, #23074d);
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}
img.logo {
  width: 100px;
  border-radius: 20px;
}
.formulario {
  width: 20%;
  order: 2;
}
.form{
  width:100%
}
.buscador {
  width: 70%;
  background-color: #23074d; 
  border-radius: 15px;
}
.buscar {
  width: 25%;
  color: white;
  background-color: #23074d; 
  border-radius: 15px;
}
.navegacion {
  display: flex;
  font-family: 'Caladea', serif;  
  text-align: center;
  width: 50%;
  justify-content: space-evenly;
}
.links {
  color: white;
  padding: 14px 16px 0px 16px;
  font-size: 20px;
}
a {
  text-decoration: none;
}
h3 {
  font-family: 'Caladea', serif;
  font-size: x-large;
  color: white;
  text-decoration: none;
  margin: 20px;
  text-align: left;
}
h5 {
  font-family: 'Caladea', serif;
  color: white;
  font-size: medium;
}
footer {
  background-color: #23074d;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 80px;
  margin-top: 250px;
  display: flex;
}
.integrantes {
  text-align: center;
  font-family: 'Caladea', serif;
  font-size:medium;
  padding: 30px;
}
.container .btn:hover {
  background-color: black;
}
.generos1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.generos2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.container {
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}
.container img {
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.btn {
  color: white;
  background-color: #23074d;
  text-align: center;
}

img.logotheapi {
  margin-top: 1%;
  text-align: right;
}

.imggen{
  width:95%;

}

@media (max-width: 1024px) {
  .header {
    width: 95%;
  }
  .busquedor {
    width: 62%;
  }
  .buscar {
    width: 32%;
  }
  img.logo{
    width: 20%
  }
  img {
    height: 200px;
    width: 300px;
}
.generos1{
  flex-wrap: wrap;
}
.generos2{
  flex-wrap: wrap;
}
}
@media (max-width:760px){
  .header {
    width: 90%;
  }
  img.logo {
    width: 80px;
    height: 10%;
  }
  .formulario {
    order: 0;
    width: 70%;
  }
  .links {
    font-size: 15px;
  }
  img {
    height: 245px;
    width: 385px;
 }
 .generos1{
   justify-content: center;
 }
 .generos2{
  justify-content: center;
 }
 .navegacion {
  margin-left: 20%;
 }
  footer{
  margin-top: 80px;
  }
}

@media (max-width: 420px){
  .links {
    font-size: 10px;
  }
  img.logo {
    width: 60px;
    border-radius: 5px;
  }
  h3 {
    font-size: medium;
  }
  .navegacion {
    margin-left: 8%;
  }
  .integrantes {
    font-size: 68%;
   }
}