*{
    box-sizing: border-box;
}
body {
    background-image: url(../img/background/TaranTado.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
.logo {
    border-radius: 20px;
}
.form {
    order:2;
}
.navegacion {
    display: flex;
    font-family: 'Caladea', serif;  
    width: 30px; 
    margin-left: 20px;
}
.links {
    color: white;
    padding: 14px 16px 0px 16px;
    font-size: 20px;
}
a.generos {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 22px;
}

.generos1{
    display:flex;
}
h1 {
    font-family: 'Caladea', serif;
    font-size: 70px;
}
footer {
    background-color: #23074d;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 80px;
    margin-top: 250px;
  }
  .integrantes {
    text-align: center;
    font-family: 'Caladea', serif;
    font-size:medium;
    padding: 30px;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container img {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #23074d;
    color: white;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: flex;
  }
  
  .container .btn:hover {
    background-color: black;
  }