body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white
}
* {
    box-sizing: border-box;
}
.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
