* {
    box-sizing: border-box;
}
.body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white
}
.header form {
    text-align: end;
    margin-right: 20px;
}
.section {
    margin: 20px;
}
.article1 {
    display: flex;
    margin-bottom: 70px;
    margin-top: 30px;
}
.section1 {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    justify-content: space-between;
}
h1 {
    font-family: 'Caladea', serif;
    font-size: 70px;
}
h3 {
    font-family: 'Caladea', serif;
    font-size: x-large;
}
h5 {
    font-family: 'Caladea', serif;
    font-size:medium;
}
p {
    font-family: 'Caladea', serif;
    font-size: small;
}
nav.navegacion {
    font-family: 'Caladea', serif;
    font-size: small;
    padding: 14px 16px;
}

a.links {
    color: white;
    padding: 14px 16px 0px 16px;

}